<div class="container">
    <br>
    <h2 class="title">お気に入り一覧</h2>
    <% @user.novels.each do |novel|%>    
        <br>
        <div class="box">
            <%= link_to novel_path(novel) do %>
                <P><%= novel.title %></P>
            <% end %>
            </p>
            <%# 総合評価 %>
            <div>
                <p><%= novel.explanation %></p>
            </div>
        </div>
        
        <% if novel.favorited_by?(current_user) %>
            <div>
                <%= link_to favorite_novels_path(novel), class: "fav", remote: true do %>
                    <i class="fa fa-heart" id="<%= novel.id %>">お気に入り</i>
                <% end %>
            </div>
        <% else %>
            <div>
                <%= link_to favorite_novels_path(novel), class: "fav", remote: true do %>
                    <i class="fa fa-heart-o" id="<%= novel.id %>">お気に入り</i>
                <% end %>
            </div>
        <% end %>
    <% end %>
    <br>
</div>

