<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <br>
            <h2>
                <%= link_to "ユーザー一覧へ", admin_users_path %>
            </h2>
            <br>
            <h2>
                <%= link_to "小説一覧へ", admin_novels_path %>
            </h2>
            <br>
            <h2>
                <%= link_to "小説追加へ", new_admin_novel_path %>
            </h2>
            <br>
            <h2>
                <%= link_to "ジャンル追加へ", new_admin_genre_path %>
            </h2>
            <br>
            <h2>
                <%= link_to "出版社追加へ", new_admin_label_path %>
            </h2>
            <br>
            <h2>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
            </h2>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
