<div class="container">
    <% if flash[:label] %>
        <h5 class="alert alert-success"><%= flash[:label] %></h5>
    <% end %>
    <br>
    <h2 class="title">レーベル一覧</h2>
        <br>
        <table class="table">
        <% @labels.each do |label| %>
            <tr>
                <th>レーベル名</th>
                <td><%= label.label_name %></td>
                <td><%= link_to "削除", admin_label_path(label),method: :delete, data: {confirm: '本当に削除しますか？'}  %></td>
            </tr>
        <% end %>
        </table>
        
        <br>
    <div class="form">
        <%= link_to "レーベル追加へ", new_admin_label_path %>
    </div>
    <div class="pagination">
        <%= paginate @labels %>
    </div>
</div>
