<div class="container">
    <% if flash[:user] %>
        <h5 class="alert alert-success"><%= flash[:user] %></h5>
    <% end %>
    <br>
    <h2 class="title">小説一覧</h2>
        <br>
        <div class="row">
            <% @novels.each do |novel| %>
                <div class="col-md-12">
                    <br>
                    <div class="card-deck">
                        <div class="card">
                            <h5 class="card-title">
                                <P><%= novel.title %></P>
                            </h5>
                            
                            <div class="p-box">総合評価 
                                <h5 id="star-total_average-<%= novel.id %>"></h5>
                                <script>
                                $('#star-total_average-<%= novel.id %>').raty({
                                    size : 100,
                                    starOff: '<%= asset_path('star-off.png') %>',
                                    starOn : '<%= asset_path('star-on.png') %>',
                                    starHalf : '<%= asset_path('star-half.png') %>',
                                    score : '<%= novel.total_average %>',
                                    half: true
                                });
                                </script>
                            </div>
                            <p class="p-text">公式サイト</p>
                            <%# urlを表示させる記述 %>
                            <%= text_url_to_link(h(novel.url)).html_safe %>            
                                <br>
                                <h5>あらすじ</h5>

                                
                                <p class="card-text"><%= novel.explanation %></p>
                                <p class="card-text">
                                <% if user_signed_in? %>
                                    <% if novel.favorited_by?(current_user) %>
                                        <div>
                                            <%= link_to favorite_novels_path(novel), class: "fav", remote: true do %>
                                                <i class="fa fa-heart" id="<%= novel.id %>">お気に入り</i>
                                            <% end %>
                                        </div>
                                    <% else %>
                                        <div>
                                            <%= link_to favorite_novels_path(novel), class: "fav", remote: true do %>
                                                <i class="fa fa-heart-o" id="<%= novel.id %>">お気に入り</i>
                                            <% end %>
                                        </div>
                                    <% end %>
                                <% end %>
                                    <%= link_to "詳細へ", novel_path(novel) %> 
                                </p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="pagination">
            <%# <%= paginate @novels %> 
        </div>
    <br>
</div>