
<div class="container">
    <br>
    <h2 class="title"><%= @novel.title %></h2>
    <h4 class="p_box">総合評価 </h4>
    <% @novel.genres.each do |genre|%>
        <div>
            <%= genre.genre_name %>
        </div>
    <% end %>
    <p class="p_text">公式サイト</p>
    <%= text_url_to_link(h(@novel.url)).html_safe %>            
        <br>
        <br>
        <h5>あらすじ</h5>

        
        <p class="card-text"><%= @novel.explanation %></p>
        <p class="card-text">
            <% if @novel.favorited_by?(current_user) %>
                <div>
                    <%= link_to favorite_novels_path(@novel), class: "fav", remote: true do %>
                        <i class="fa fa-heart" id="<%= @novel.id %>">お気に入り</i>
                    <% end %>
                </div>
            <% else %>
                <div>
                    <%= link_to favorite_novels_path(@novel), class: "fav", remote: true do %>
                        <i class="fa fa-heart-o" id="<%= @novel.id %>">お気に入り</i>
                    <% end %>
                </div>
            <% end %>
        </p>
</div>
<%# <div class="form"> %>
    <%# <%= link_to "一覧へ戻る", novels_path %> 
<%# </div> %>



<div class="form">
    <%= link_to "レビュ一覧へ", novel_reviews_path(@novel) %>
    <%= link_to "レビューを投稿する", new_novel_review_path(@novel) %>
</div>