
<div class="container">
    <br>
    
        <h2 class="title"><%= @novel.title %></h2>
    <div class="row">
        
        <div class="col-md-1">
            <p>物語</p>
            <p>演出</p>
            <p>登場人物</p>
            <p>設定</p>
        </div>
        
        <div class="col-md-1">

            <p id="star-average_story-<%= @novel.id %>"></p>
            <script>
            $('#star-average_story-<%= @novel.id %>').raty({
                size : 100,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf : '<%= asset_path('star-half.png') %>',
                score : '<%= @novel.average_story %>',
                half: true
            });
            </script>

            <p id="star-average_production-<%= @novel.id %>"></p>
            <script>
            $('#star-average_production-<%= @novel.id %>').raty({
                size : 100,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf : '<%= asset_path('star-half.png') %>',
                score : '<%= @novel.average_production %>',
                half: true
            });
            </script>

            <p id="star-average_person-<%= @novel.id %>"></p>
            <script>
            $('#star-average_person-<%= @novel.id %>').raty({
                size : 100,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf : '<%= asset_path('star-half.png') %>',
                score : '<%= @novel.average_person %>',
                half: true
            });
            </script>

            <p id="star-average_setting-<%= @novel.id %>"></p>
            <script>
            $('#star-average_setting-<%= @novel.id %>').raty({
                size : 100,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf : '<%= asset_path('star-half.png') %>',
                score : '<%= @novel.average_setting %>',
                half: true
            });
            </script>




        </div>
    </div>
    <hr>
    <P>
        <% @novel.genres.each do |genre|%>
            <%= genre.genre_name %>
        <% end %>
    </p>
    <hr>
    <p>
        <%= @novel.label.label_name %>
    </p>
    <hr>
    <p class="p-text">公式サイト</p>
    <%= text_url_to_link(h(@novel.url)).html_safe %>            
        <br>
        <br>
        <hr>
        <h5>あらすじ</h5>

        
        <p class="card-text"><%= @novel.explanation %></p>
        <p class="card-text">
        <% if user_signed_in? %>
            <% if @novel.favorited_by?(current_user) %>
                <div>
                    <%= link_to favorite_novels_path(@novel), class: "fav", remote: true do %>
                        <i class="fa fa-heart" id="<%= @novel.id %>">お気に入り</i>
                    <% end %>
                </div>
            <% else %>
                <div>
                    <%= link_to favorite_novels_path(@novel), class: "fav", remote: true do %>
                        <i class="fa fa-heart-o" id="<%= @novel.id %>">お気に入り</i>
                    <% end %>
                </div>
            <% end %>
        <% end %>
        </p>

</div>
<%# <div class="form"> %>
    <%# <%= link_to "一覧へ戻る", novels_path %> 
<%# </div> %>



<div class="form">
    <%= link_to "レビュ一覧へ", novel_reviews_path(@novel) %>
    <%= link_to "レビューを投稿する", new_novel_review_path(@novel) %>
</div>
<br>