<div class="container">
    <% if flash[:novel] %>
        <h5 class="alert alert-success"><%= flash[:novel] %></h5>
    <% end %>
    <br>
    
        <h2 class="title"><%= @novel.title %></h2>
    <div class="row">
        
        <div class="col-md-1">
            <p>物語</p>
            <p>演出</p>
            <p>登場人物</p>
            <p>設定</p>
        </div>
        
        <div class="col-md-1">

            <p id="star-average_story-<%= @novel.id %>"></p>
            <script>
            $('#star-average_story-<%= @novel.id %>').raty({
                size : 100,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf : '<%= asset_path('star-half.png') %>',
                score : '<%= @novel.average_story %>',
                half: true
            });
            </script>

            <p id="star-average_production-<%= @novel.id %>"></p>
            <script>
            $('#star-average_production-<%= @novel.id %>').raty({
                size : 100,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf : '<%= asset_path('star-half.png') %>',
                score : '<%= @novel.average_production %>',
                half: true
            });
            </script>

            <p id="star-average_person-<%= @novel.id %>"></p>
            <script>
            $('#star-average_person-<%= @novel.id %>').raty({
                size : 100,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf : '<%= asset_path('star-half.png') %>',
                score : '<%= @novel.average_person %>',
                half: true
            });
            </script>

            <p id="star-average_setting-<%= @novel.id %>"></p>
            <script>
            $('#star-average_setting-<%= @novel.id %>').raty({
                size : 100,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf : '<%= asset_path('star-half.png') %>',
                score : '<%= @novel.average_setting %>',
                half: true
            });
            </script>




        </div>
    </div>
        
    <hr>
    <P>
        <% @novel.genres.each do |genre|%>
            <%= genre.genre_name %>
        <% end %>
    </p>
    <hr>
    <p>
        <%= @novel.label.label_name %>
    </p>
    <hr>
    <p class="p-text">公式サイト</p>
    <%= text_url_to_link(h(@novel.url)).html_safe %>            
        <br>
        <br>
        <h5>あらすじ</h5>
        <p class="card-text"><%= @novel.explanation %></p>
</div>
<br>
<div class="form">
    <%= link_to "レビュ一覧へ", admin_novel_reviews_path(@novel) %>
    <%= link_to "一覧画面へ", admin_novels_path %>
    <%= link_to "編集画面へ", edit_admin_novel_path(@novel) %>
</div>



