<div class="container">
    <% if flash[:review] %>
        <h5 class="alert alert-success"><%= flash[:review] %></h5>
    <% end %>
    <br>
    <h2 class="title">レビュー一覧</h2>
    <% @novel.reviews.each do |review|%>
        <br>
        <div class="row review">
            
            <br><br>
            <div class="col-md-6">
                <h5>総合評価</h5>
                <br>
                <h6>ストーリー</h6>
                <h6>演出</h6>
                <h6>登場人物</h6>
                <h6>設定</h6>
            </div>


            <div class="col-md-6">
                <%# 評価javascript %>
                <h5 id="star-rate-<%= review.id %>"></h5>
                    <script>
                    $('#star-rate-<%= review.id %>').raty({
                        size : 100,
                        starOff: '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf : '<%= asset_path('star-half.png') %>',
                        score : '<%= review.total_rate %>',
                        half: true
                    });
                    </script>
                    <br>
                    <h6 id="star-story_rate-<%= review.id %>"></h2>
                    <script>
                    $('#star-story_rate-<%= review.id %>').raty({
                        size : 45,
                        starOff: '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf : '<%= asset_path('star-half.png') %>',
                        score : '<%= review.story_rate %>',
                        half: true
                    });
                    </script>

                    <h6 id="star-production_rate-<%= review.id %>"></h2>
                    <script>
                    $('#star-production_rate-<%= review.id %>').raty({
                        size : 45,
                        starOff: '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf : '<%= asset_path('star-half.png') %>',
                        score : '<%= review.production_rate %>',
                        half: true
                    });
                    </script>

                    <h6 id="star-person_rate-<%= review.id %>"></h2>
                    <script>
                    $('#star-person_rate-<%= review.id %>').raty({
                        size : 45,
                        starOff: '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf : '<%= asset_path('star-half.png') %>',
                        score : '<%= review.person_rate %>',
                        half: true
                    });
                    </script>

                    <h6 id="star-setting_rate-<%= review.id %>"></h2>
                    <script>
                    $('#star-setting_rate-<%= review.id %>').raty({
                        size : 45,
                        starOff: '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf : '<%= asset_path('star-half.png') %>',
                        score : '<%= review.setting_rate %>',
                        half: true
                    });
                    </script>
                    <%# ここまでjavascript %>
                </div>
                
                <div class="col-md-12">
                    <hr>
                    <h3><%= review.title %></h3>
                </div>
                <div class="col-md-12">
                    <%= review.text %>
                </div>
                <% if review.user == current_user %>
                    <div class="form">
                        <%= link_to "編集する", edit_novel_review_path(review.novel, review) %>
                    </div>
                <% end %>
        </div>
    <% end %>
    <div class="paginate">
        <%= paginate @reviews %>
    </div>
</div>