<!DOCTYPE html>
<html>
  <head>
    <title>NovelAnime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav>
          <% if user_signed_in? %>

            <br>
            <div class="app_title">
              <h2>Novel Anime</h2>
            </div>
              <ul class="nav-list">
                  <li class="nav-list-item">
                      <span>            
                      <%= link_to edit_user_path(current_user.id) do %>
                      <p>ようこそ、<br>
                      <%= current_user.name %>さん</p>
                      <% end %>
                      </span>
                  </li>
                  <li class="nav-list-item">
                      <span>
                      <%= link_to "お気に入り一覧", user_path(current_user.id) %>
                      </span>
                  </li>
                  <li class="nav-list-item">
                  <span>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </span>
                  </li>
              </ul>
            <% end %>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
