<!DOCTYPE html>
<html>
  <head>
    <title>NovelAnime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>
    
      <div class="container">
      
        <nav>
          <% if user_signed_in? %>

            <br>
            <div class="app_title">
              <h2 class="site-name">Novel Anime</h2>
            </div>
              <ul class="nav-list">
                  <li class="nav-list-item">
                      <span>            
                      <%= link_to edit_user_path(current_user.id) do %>
                      <p>ようこそ、<br>
                      <%= current_user.name %>さん</p>
                      <% end %>
                      </span>
                  </li>
                  <li class="nav-list-item">
                      <span>
                      <%= link_to "お気に入り一覧", user_path(current_user.id) %>
                      </span>
                  </li>
                  <li class="nav-list-item">
                  <span>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                  </span>
                  </li>
                  <li class="nav-list-item" data-toggle="modal" data-target="#myModal2">小説検索</button>
                    <!-- Modal -->
                    
                    <div id="myModal2" class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg">
                      <div id="modal_close_area">
                      </div>
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">検索フォーム</h4>
                          </div>
                          <div class="modal-body">
                            <p>詳細検索</p>
                            <dl class="searchbox">
                              <%= search_form_for @search, url: novels_path do |f| %>
                                <dt><%= f.text_field :title_cont ,placeholder: '検索するテキストを入力...' %></dt>
                                <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
                              <% end %>
                            </dl>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                          </div>
                        </div>
                      </div>
                    </div>
              </ul>
          <% end %>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
